@font-face {
  font-family: "poppins";
  src: url(./Poppins/Poppins-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "poppins";
  src: url(./Poppins/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url(./Poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/* body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
} */

p {
  font-family: "poppins";
  font-weight: 400;
}

.awards-series {
  font-family: "poppins";
  font-weight: 400;
  padding: 8px;
}

.li-awards {
  list-style: none;
  padding: 10px 30px;
  background-image: url(./assets/icons8-rocket.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.btn {
  border: #222222 solid 2px;
  background-color: #717171;
  color: #f2f2f2;
  padding: 10px;
  font-family: "poppins";
  font-weight: 400;
  border-radius: 10px;
}

.btn:hover {
  background-color: blue; /* Green */
  color: white;
}

.colorbg {
  background-color: #bbb;
  border-radius: 20px;
}

.explanation {
  display: flex;
  gap: 20px;
  padding: 25px;
  align-items: center;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  z-index: 1;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.grid-container {
  display: flex;
  width: auto;
}

section {
  margin: 0 16px;
}

section.full-screen {
  margin: 0;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, Green 0%, white 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 24px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

nav {
  position: fixed;
  z-index: 99;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #222222;
}

nav > ul {
  margin-left: auto;
  margin-right: 16px;
  list-style: none;
}

nav a:hover {
  background-color: burlywood;
}

nav > ul > li {
  display: inline-block;
  font-family: "poppins";
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

header {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  background-color: #222222;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}

nav .circle-red {
  font-size: 8px;
  background-color: red;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: -8px;
}

.relative-container {
  position: relative;
}

header h1 {
  margin: 16px;
  font-family: "poppins";
  font-weight: 900;
}

header p {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  text-shadow: 2px 2px 4px #717171;
  text-align: center;
  font-family: "poppins";
  font-weight: 700;
}

h3 {
  font-family: "poppins";
  font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #333333;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#section-video .content-video {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transform-origin: 50% 65%;
  transition: transform 3s, filter 3s ease-in-out;
  filter: brightness(150%);
}

.card:hover {
  filter: brightness(150%);
  transform: scale(1.05);
}

.mobile {
  display: none;
}

#penguin-photos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-auto-rows: 320px 320px;
}

#penguin-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container #item-1 {
  grid-column: 1;
  grid-row: 1 / 2 span;
}

.grid-container #item-2 {
  grid-row: 1;
  grid-column: 2 / 3 span;
}

#picture-src {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  #know-more .explanation {
    flex-direction: column;
  }
  #section-video .title-video .content-video {
    display: flex;
    flex-direction: column;
  }
  #section-video .title-video .content-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile {
    display: block;
  }

  .animate-character {
    font-size: 16px;
    padding: 10px;
  }
  .desktop {
    display: none;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  nav {
    overflow: hidden;
    position: fixed;
    background-color: white;
  }

  .mobile:hover {
    background-color: #ddd;
    color: black;
  }
}
